/* Page styles
----------------------------------------------- */
* {	border: 0; margin: 0; padding: 0; vertical-align: baseline; }
html { font-family: sans-serif; font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { font-size: 1em; line-height: 1.4; }
a:focus, a:hover, a:active, object:focus, video:focus { outline: 0; }
html,body { height: 100%; overflow: hidden; width: 100%; }
body { background-color: #999; position: relative;}
.boringelement { 
	background-color: red;
	border-style: solid;
	border-width: 1px;
	height: 20px;
	padding: 0;
	position: absolute;
	width: 20px;
	-webkit-transition: all 500ms linear; 
	-moz-transition: all 500ms linear; 
	-ms-transition: all 500ms linear; 
	-o-transition: all 500ms linear; 
	transition: all 500ms linear;
}
.boringelement {
	border-color: #666;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 1px 1px 1px 0px #888;
	box-shadow: 1px 1px 1px 0px #888;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.boringelement:hover { cursor: pointer; }
.boringelement:first-child { left: 50%; margin: -10px 0 0 -10px; top: 50%; }

/* Aides
----------------------------------------------- */
.ir { background-color: transparent; border: 0; color: transparent; font: 0/0 a; text-shadow: none; }
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }
/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.ie7 .clearfix { zoom: 1; }